@font-face {
  font-family: 'Cool';
  src: url('../fonts/Cool.ttf') format("opentype");
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format("opentype");
}


.header{
	background-color: #23527C;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #107FC9;
  color: #ffffff;
}

.navbar-default .navbar-nav{
	color: #ffffff;
}

.active{
	background-color: #ffffff;
}

.signin {
	background-color: #107FC9;
	border-color: #107FC9;
	color: #fff;
}

.signin:hover {
	background-color: #23527C;
  	border-color: #23527C;
  	color: #fff;
}

.resumen {
	color: #777;
}

.lastElement {
	margin-bottom: 10%;
}

.myForm {
	margin-right: 35%;
	margin-left: 35%;
}

.first {
	margin-top: 6%;
}

.label-form {
	color: #888;
}

.mytitle {
	color: #fff;
	font-family: 'Cool';
	font-size: 25pt;
	text-align: center;
}

.logo {
	font-family: "dunkin";
	color: #fff;
	font-size: 35pt;
}

.logo:hover {
	color: #fff;
}


.profile {
	margin-top: 50px;
	background: url('../media/orangebk.jpg');
}

#username, #fullname, #useremail {
	color: #fff;
}

footer {
	border-width: 1px;
	text-align: center;
	background-color: #23527C;
	border-color: #E7E7E7;
	color: #FFF;
	position: fixed;
	bottom: 0;
	width:100%;
}

.fixed-jumbo {
	width: 90%;
}

.file-label {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 5px;
}

#exampleInputFile {
	display: none;
}

#content {
	resize: vertical;
}

.createForm {
	margin-right: 28%;
	margin-left: 28%;
}

.about {
	background-color: #23527C;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-top: 15%;
	color: #fff;
	border-radius: 20px;
}

.ex {
	font-family: 'Cool';
	font-size: 18pt;
}

.row {
	padding-left: 2%;
	padding-right: 2%;
}

.mytext {
	font-family: 'Roboto';
	font-size: 15pt;
}

.mystext {
	font-size: 12pt;
}

.tittle2 {
	font-family: 'dunkin';
	font-size: 20pt;
	color: #F7C006;
	text-align: center;
}

.forgot {
	margin-right: 30%;
	margin-left: 30%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	border-radius: 20px;
}

.second {
	margin-top: 20%;
}

#acc {
	display: none;
}

.pastieop {
	margin-right: 20%;
	margin-left: 20%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #E7E7E7;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
}

.pastiecont {
	margin-right: 20%;
	margin-left: 20%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 20px;
	background-color: #FFF;
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;
}

.pastiecont > h2 {
	color: #23527C;
	font-family: 'Roboto';
}

.pastiecont > h4 {
	color: #777;
	font-family: 'Roboto';
	line-height: 30px;
}

.pastiecont > p {
	color: #777;
	font-family: 'Roboto';
}

.asd {
	color: #000;
	text-align: right;
}

.lock {
	margin-left: 0.5%;
	font-size: 0.8em;
}