@font-face {
  font-family: 'Titulo';
  src: url('../font/Titulo.ttf');
}

.header{
	background-color: #23527C;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #107FC9;
  color: #ffffff;
}

.navbar-default .navbar-nav{
	color: #ffffff;
}

.active{
	background-color: #ffffff;
}

.signin {
	background-color: #107FC9;
	border-color: #107FC9;
}

.signin:hover {
	background-color: #23527C;
  border-color: #23527C;
}

.resumen {
	color: #777;
}

.lastElement {
	margin-bottom: 10%;
}

.myForm {
	margin-right: 35%;
	margin-left: 35%;
}

.first {
	margin-top: 6%;
}

.label-form{
	color: #888;
}

.mytitle{
	color: #fff;
	font-family: 'Titulo';
	font-size: 25pt;
	text-align: center;
}