<!DOCTYPE html>
<html>
<head>
	<title>Pastiati - About</title>
	<link rel="stylesheet" type="text/css" href="statics/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="statics/css/style.css">
</head>
<body background="statics/media/orangebk.jpg">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container header">
      <div class="navbar-header">
        <a class="logo navbar-brand" href="home">Pastiati</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="home">Home</a></li>
          <li class="active"><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        {% if username %}
        <ul class="nav navbar-nav navbar-right" id="username">
          <li><a href="create">Crear Pastie</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>{{username}}</b> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="profile">Profile</a></li>
              <li><a href="#" onclick="logout('home')">Log out</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <form class="navbar-form navbar-right" id="login-form">
          <div class="form-group has-feedback" id="email-div">
            <input type="text" placeholder="Email" class="form-control" id="email-field" name="email">
          </div>
          <div class="form-group has-feedback">
            <input type="password" placeholder="Password" class="form-control" id="pass-field" name="password">
          </div>
          <button type="button" class="btn btn-success" onclick="login()">Log in</button>
          <div class="form-group has-feedback">
            <a href="forgot">
              <img src='statics/media/forgot.png' height="30" width="30">
            </a>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </nav><br><br>

  <div class="container">
    <div class="about">
      <h2 class="tittle2"> This is PastiAti</h2>
      <h2 class ="ex">Here you can easily share some text. You just give us a text and we'll give you a simple and unique link with that text. It's really simple! </h2>
      <br>
        <div class="row">
          <div class="col-md-4 centerfy">
            <p class="mytext"> We know that this is not a new idea, but we made it better with a new and better interface. </p>
          </div>
          <div class="col-md-4 centerfy">
            <p class="mytext"> You can also Sign Up and we'll save all the pasties you made so you can see them in your profile in case you need them. </p>
          </div>
           <div class="col-md-4 centerfy">
            <p class="mytext"> You can have your pastie private and only you and the people you share the link can see it; or public where anyone can see it. </p>
          </div>
        </div>
    </div>
  </div>

  <footer>
    Copyright 2015 Luis Arguello - Rosmeli Quintero - All rights reserved | Powered by Bootstrap and jQuery
  </footer>

  <script type="text/javascript" src="statics/js/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="statics/js/load.js"></script>
  <script type="text/javascript" src="statics/js/bootstrap.js"></script>
</body>
</html>
