<!DOCTYPE html>
<html>
<head>
	<title>Pastiati - Create</title>
	<link rel="stylesheet" type="text/css" href="statics/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="statics/css/style.css">
</head>
<body background="statics/media/orangebk.jpg">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container header">
			<div class="navbar-header">
				<a class="logo navbar-brand" href="home">Pastiati</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="home">Home</a></li>
					<li><a href="about">About</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
				{% if username %}
		        <ul class="nav navbar-nav navbar-right" id="username">
		          <li class="active"><a href="create">Crear Pastie</a></li>
		          <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>{{username}}</b> <span class="caret"></span></a>
		            <ul class="dropdown-menu" role="menu">
		              <li><a href="profile">Profile</a></li>
		              <li><a href="#" onclick="logout('home')">Log out</a></li>
		            </ul>
		          </li>
		        </ul>
		        {% else %}
		        <form class="navbar-form navbar-right" id="login-form">
		          <div class="form-group has-feedback" id="email-div">
		            <input type="text" placeholder="Email" class="form-control" id="email-field" name="email">
		          </div>
		          <div class="form-group has-feedback">
		            <input type="password" placeholder="Password" class="form-control" id="pass-field" name="password">
		          </div>
		          <button type="button" class="btn btn-success" onclick="login()">Log in</button>
		          <div class="form-group has-feedback">
		            <a href="forgot">
		              <img src='statics/media/forgot.png' height="30" width="30">
		            </a>
		          </div>
		        </form>
		        {% endif %}
			</div>
		</div>
	</nav>
	<div class="first">
		<p class="mytitle">Create your Pastie</p>
		<div class="row well well-lg createForm">
			<div class=".col-md-6">
				<form class="form" method="POST">
					<div class="form-group">
						<label class="label-form" for="name">Title</label>
	  					<input type="text" class="form-control" id="title" name="title" required>
	  				</div>
	  				<div class="form-group">
	  					<label class="label-form" for="lastname">Introduce content</label>
	  					<textarea type="text" class="form-control" id="content" name="content" rows="10"></textarea>
	  				</div>
	  				<div class="form-group">
					    <label class="label-form file-label" for="exampleInputFile" id="label-file">Or upload it</label>
					    <input type="file" id="exampleInputFile" name="file" accept="text/plain">
					    <p class="help-block">Select a .txt file on your computer.</p>
					  </div>
					  <div class="checkbox">
					    <label class="label-form">
					      <input type="checkbox" name="private"> Make this pastie <b>private</b>
					    </label>
					  </div>
					<br>
					<center>
						<button type="submit" class="btn btn-success">Create</button>
					</center>
				</form>
			</div>
		</div>
	</div>

	<footer>
    Copyright 2015 Luis Arguello - Rosmeli Quintero - All rights reserved | Powered by Bootstrap and jQuery
  </footer>

  <script type="text/javascript" src="statics/js/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="statics/js/load.js"></script>
	<script type="text/javascript" src="statics/js/bootstrap.js"></script>
</body>
</html>