<!DOCTYPE html>
<html>
<head>
	<title>Pastiati</title>
	<link rel="stylesheet" type="text/css" href="statics/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="statics/css/style.css">
  <link rel="shortcut icon" href="../statics/media/p.png">
</head>
<body onload="load()">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container header">
      <div class="navbar-header">
        <a class="logo navbar-brand" href="home">Pastiati</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        {% if username %}
        <ul class="nav navbar-nav navbar-right" id="username">
          <li><a href="create">Crear Pastie</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>{{username}}</b> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="profile">Profile</a></li>
              <li><a href="#" onclick="logout('home')">Log out</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <form class="navbar-form navbar-right" id="login-form">
          <div class="form-group has-feedback" id="email-div">
            <input type="text" placeholder="Email" class="form-control" id="email-field" name="email">
          </div>
          <div class="form-group has-feedback">
            <input type="password" placeholder="Password" class="form-control" id="pass-field" name="password">
          </div>
          <button type="button" class="btn btn-success" onclick="login()">Log in</button>
          <div class="form-group has-feedback">
            <a href="forgot">
              <img src='statics/media/forgot.png' height="30" width="30">
            </a>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </nav><br><br>

  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to <a class="logo">Pastiati</a></h1>
      <p>On this page you will find every pastie ever made. You can filter the content by using the search bar located at the beginning of the pastie section. To create or see your private pasties please log in. If you don't have an account click on the button below.</p>
      <p><a class="btn btn-primary btn-lg signin" href="register" role="button">Sign up</a></p>
    </div>
  </div>


    <div class="container">
      <div class="col-lg-5 col-lg-offset-1">
        <div class="input-group">
          <input id="searchBar" type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="search()" id="goButton">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>



	<div class="container">
    <br>
		<div class="col-md-11 col-md-offset-1 centerfy">
			<div class="panel-group" id="accordion"></div>
			<button id="morePasties" type="button" class="btn btn-default pull-right lastElement" onclick="load()">Load more</button>
		</div>
	</div>

  <footer>
    Copyright 2015 Luis Arguello - Rosmeli Quintero - All rights reserved | Powered by Bootstrap and jQuery
  </footer>


	<script type="text/javascript" src="statics/js/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="statics/js/load.js"></script>
	<script type="text/javascript" src="statics/js/bootstrap.js"></script>
</body>
</html>
