<!DOCTYPE html>
<html>
<head>
	<title>Pastiati</title>
	<link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
</head>
<body background='../statics/media/orangebk.jpg'>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container header">
      <div class="navbar-header">
        <a class="logo navbar-brand" href="../home">Pastiati</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="../home">Home</a></li>
          <li><a href="../about">About</a></li>
          <li><a href="../contact">Contact</a></li>
        </ul>
        {% if username %}
        <ul class="nav navbar-nav navbar-right" id="username">
          <li><a href="../create">Crear Pastie</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>{{username}}</b> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="../profile">Profile</a></li>
              <li><a href="#" onclick="logout('../home')">Log out</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <form class="navbar-form navbar-right" id="login-form">
          <div class="form-group has-feedback" id="email-div">
            <input type="text" placeholder="Email" class="form-control" id="email-field" name="email">
          </div>
          <div class="form-group has-feedback">
            <input type="password" placeholder="Password" class="form-control" id="pass-field" name="password">
          </div>
          <button type="button" class="btn btn-success" onclick="login()">Log in</button>
          <div class="form-group has-feedback">
            <a href="forgot">
              <img src='../statics/media/forgot.png' height="30" width="30">
            </a>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </nav><br><br>

  <div class="first container">
    <div class="pastieop">
      <a href='http://www.facebook.com/share.php?u=www.pastiati.com/pastie/{{p.id}}&t={{p.title}}' onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <img src='../statics/media/share/facebook.png' height="30" width="30">
      </a>
       <a href='https://twitter.com/home?status=Check my pastie www.pastiati.com/pastie/{{p.id}}' onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <img src='../statics/media/share/twitter.png' height="30" width="30">
      </a>
      <a id="sendemail" href="mailto:myemail?&subject=PastiAti&body=Check%20this%20pastie%20www.pastiati.com/pastie/{{p.id}}" onclick="javascript:var myemail = prompt("Please enter the recipient", "email@asd.as");">
        <img src='../statics/media/share/email.png' height="30" width="30">
      </a>
      <a href='https://plus.google.com/share?url=www.pastiati.com/pastie/{{p.id}}' onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <img src='../statics/media/share/google.png' height="30" width="30">
      </a>
       <a href='#' onclick="redirect(get_id_from_url())">
        <img src='../statics/media/share/modify.png' height="30" width="30" align="right">
      </a>
    </div>
    <div class="pastiecont" id="mypastie">
    {% if p %}
      <h2> {{p.title}} {% if p.private %} <span class="glyphicon glyphicon-lock lock" aria-hidden="true"> {% endif %}</span> </h2>
      <h4> {{p.content}} </h4><br>
      <p><b>Owner:</b> {{p.owner}} </p>
      <p><b>Created at:</b> {{p.created_at}} </p>
      <p><b>Updated at:</b> {{p.updated_at}} </p>
    {% endif %}
    </div>
  </div>

  <footer>
    Copyright 2015 Luis Arguello - Rosmeli Quintero - All rights reserved | Powered by Bootstrap and jQuery
  </footer>

	<script type="text/javascript" src="../statics/js/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="../statics/js/load.js"></script>
	<script type="text/javascript" src="../statics/js/bootstrap.js"></script>
  {% if error %} <script> alert('{{error}}'); </script> {% endif %}
</body>
</html>