<!DOCTYPE html>
<html>
<head>
	<title>Pastiati - Profile</title>
	<link rel="stylesheet" type="text/css" href="statics/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="statics/css/jasny-bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="statics/css/style.css">
</head>
<body onload="loadOwn()">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container header">
			<div class="navbar-header">
				<a class="logo navbar-brand" href="home">Pastiati</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="home">Home</a></li>
					<li><a href="about">About</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="username">
					<li><a href="create">Crear Pastie</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>ElPrimoA</b> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li class="active"><a href="#">Profile</a></li>
							<li><a href="#" onclick="logout('home')">Log out</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="profile jumbotron">
		<div class="container">
			<div class="col-md-3 col-md-offset-3 centerfy">
				<div class="fileinput fileinput-new" data-provides="fileinput">
		  			<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
			  		<div>
			   	 <span class="btn btn-default signin btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
			    		<a href="#" class="btn btn-default signin fileinput-exists" data-dismiss="fileinput">Remove</a>
			  		</div>
				</div>
				<h3 id="username"><b>ElPrimoA</b></h3>
			</div>
			<div class="col-sm-6">
				<h2 id="fullname">Luis Arguello</h2>
				<h3 id="useremail">luis.arguello@gmail.com</h3>
				<br>
				<button type="button" class="btn btn-default signin" onclick="window.location='modify'">Modify Profile</button>
				<button type="button" class="btn btn-default signin" onclick="window.location='change'">Change Password</button>
			</div>
		</div>
	</div>

	<div class="container">
    <br>
		<div class="col-md-11 col-md-offset-1 centerfy">
			<div class="panel-group" id="accordion"></div>
			<button id="morePasties" type="button" class="btn btn-default pull-right lastElement" onclick="loadOwn()">Load more</button>
		</div>
	</div>

	<script type="text/javascript" src="statics/js/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="statics/js/load.js"></script>
	<script type="text/javascript" src="statics/js/bootstrap.js"></script>
	<script type="text/javascript" src="statics/js/jasny-bootstrap.js"></script>
</body>
